.wrapper {
	width: 800px;
	margin: 0 auto;
}

.transform,
.transition,
.animation {
	border: 1px solid #999;
	margin: 20px 0;
	padding: 0 0;
}

.box {
	width: 200px;
	height: 200px;
}

.b1 {
	background-color: #80e1d4;
	/*blue*/
}

.b2 {
	background-color: #9696ff;
	/*orange*/
}

.b3 {
	background-color: #85e1f4;
	/*green*/
}

.b4 {
	background-color: #e89380;
	/*purple*/
}

/* Transitions */

.transition .b1{
	transition: width 1s ease-in-out 0.2s;
}

.transition .b1:hover{
	width: 400px;
}

.transition .b2{
	transition: width 1s, height 1s ease-in-out;
	transition-delay: 0.5s;
}

.transition .b2:hover{
	width: 400px;
	height: 100px;
}

/* Cubic-bezier */

.transition .b3{
	transition: transform 2s cubic-bezier(.17,.67,.31,1.59) 0.5s; 
}

.transition .b3:hover{
	transform:rotate(180deg);
}

.transition .b4{
	transition: all 1s ease-in-out 0.5s; 
}

.transition .b4:hover{
	transform:rotate(180deg);
	border-radius: 25%;
	background-color: #999;
}

/* Transform */

.transform .box{
	transition: transform 0.5s;
}

.transform .b1{
	transform: rotate(30deg);
	transform-origin: 200px 200px;
}	

.transform .b1:hover{
	transform: rotate(0deg);
}	

.transform .b2:hover{
	transform: translate(20px, 20px);
}	

.transform .b3{
	transform-origin: top left;
}

.transform .b3:hover{
	transform: scale(1.5);
}	

.transform .b4{
	transform: skewX(10deg) translateX(20px);
}

.transform .b4:hover{
	transform: skewX(0deg);
}